body{
    background-image: url(../img/background.jpg);
}

@font-face {
  font-family: fugazOne;
  src: url(../font/Fugaz_One/FugazOne-Regular.ttf);
}

.game
{
    width: 80%;
    border: solid 1px #ddd;
    margin: 0 auto;
    background: #01793F;
    border: solid 10px;
    text-align:center;
    height: 90%;
    min-height:600px;
    border-radius: 12px;
}

.btn{
    background-color: black;
    color: white;
    border:none;
    padding: 10px 30px;
    border-radius:12px;
    cursor:pointer;
}

.btn:hover{
    background:white;
    color: black;
}

#headerContainer{
  display: flex;
  justify-content: center;
}

.game h3
{
  padding: 10px;
  background:black;
  color:white;
  font-family: fugazOne;
  width: 30%;
  border-radius: 12px;
  border: 3px dotted white;
}

.game .game-body
{
padding: 20px;
}

.game .game-options
{
text-align:center;
}
.game .card{
    width: 50px;
    height: 80px;
    padding: 10px;
    border: solid 1px #808080;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 10pt;
    text-align: center;
    margin: 3px;
    border:solid 3px;
}

.game .cardRed{
  width: 50px;
  height: 80px;
  padding: 10px;
  border: solid 1px #808080;
  background-color: white;
  display: inline-block;
  border-radius: 10px;
  font-size: 10pt;
  text-align: center;
  margin: 3px;
  color: red;
  border: solid 3px red;
}

.game .status
{
    display: inline-block;
background: gold;
border: solid 5px white;
border-radius: 10px;
padding: 5px 20px;
margin: 0 auto;
margin-top: 10px;
display:none;
}

.players{
       width: 500px;
margin: 0 auto;
margin-top: 20px;
text-align: center;
}

.player{
    width: 40%;
    border: solid 5px #f5f5f5;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
    margin:1%;
    vertical-align: top;
    background:#f5f5f5;
}

.player.active{
    border: solid 5px #222;
}

.dealer{
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
}

.dealer{
 width: 40%;
 border: solid 5px #f5f5f5;
 border-radius: 10px;
 padding: 10px;
 display: inline-block;
 margin:1%;
 vertical-align: top;
 background:#f5f5f5;
}

.dealer.active{
 border: solid 5px #222;
}

.points{
    text-align: center;
    font-size: 20pt;
    font-weight: bold;
    margin: 10px;
}

.deck{
    float:left;
    width: 50px;
    height: 100px;
    color: white;
    padding: 10px;
    border-radius:10px;
    border: double 5px;
}


#UserMoney{
    padding: 10px;
    background-image: url(../img/header.jpg);
    color:white;
    text-align: center;
    background-size: cover;
    border: 5px solid black;
}

#game-panel{
  display: none;
}

#start-panel{
  display: block;
}

#txtUserMoney{
  display:block;
}

#btnUserMoney{
  display:inline;
}
.jconfirm.jconfirm-white .jconfirm-box, .jconfirm.jconfirm-light .jconfirm-box{
  width: 80%;
}
